<h1>Place an Order</h1>
<h2>Hi {{user.firstName}}</h2>
<!--Request sent to addOrder-->
<form action = "{% url 'app:addOrder' %}" method="post">
<div class="form-group">
{% csrf_token %}
	<div class="col-md-8">
		<!--Fix this to automatically get username-->
		<label for="restaurantInput">Restaurant Name</label>
		<input type="text" name = "Restaurant" class="form-control" id="restaurantInput">
		<br>
		<label for="foodInput">Food</label>
		<input type="text" name = "Food" class="form-control" id="foodInput">
		<br>
		<label for="userLocation">Location</label>
		<input type="text" name = "Location" class="form-control" id="userLocation">
		{% if blankErrorStatus == True %}
			Please fill out all the fields.
			<br>
		{% endif %}
		<br>
		<button type="submit" class="btn btn-primary btn-md">Place Order </button></a>
	</div>
</div>
</form>