<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CMYum</title>


    <!-- Bootstrap core CSS -->
    {% load staticfiles%}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/index.css" %}" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">CMYum</h3>
              <nav>
                <ul class="nav masthead-nav">
                  {% if currentUser = null %}
                    <li><a href = "{% url 'app:createAccount' blankErrorStatus=False %}">Create Account</a></li>
                  {% else %}
                    <li class="active"><a>Hi {{currentUser.firstName}}</a></li>
                  {% endif %}

                  {% if currentUser = null %}
                    <li><a href = "{% url 'app:logInPage' %}">Log In</a></li>
                  {% else %}
                    <li><a href = "{% url 'app:logout' %}">Log Out</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Fill your Yum!</h1>
            <p class="lead">CMYum is a crowdsourced food delivery service that connects hungry appetites with opportunistic individuals.</p>
            <p class="lead">
              <a href="{% url 'app:createOrder' blankErrorStatus=False %}" class="btn btn-lg btn-default">Place an Order</a>
            </p>
            <p class="lead">
              <a href="{% url 'app:viewOrders' %}" class="btn btn-lg btn-default">View Order</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>By Shouvik Mani, David Simon, Sam Westenberg, and Chris Smith</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
